<log4net>
  <appender name="fatalAsyncAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
    <appender-ref ref="fatalRollingFile" />
  </appender>
  <appender name="errorAsyncAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
    <appender-ref ref="errorRollingFile" />
  </appender>
  <appender name="warnAsyncAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
    <appender-ref ref="warnRollingFile" />
  </appender>
  <appender name="infoAsyncAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
    <appender-ref ref="infoRollingFile" />
  </appender>
  <appender name="debugAsyncAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
    <appender-ref ref="debugRollingFile" />
  </appender>
  <appender name="fatalRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--日志文件名-->
    <file value="Logs/.fatal" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM/dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <!--<layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date %5level %logger - %message%newline%newline" />
    </layout>-->
    <layout type="IFramework.Log4Net.LogstashLayout, IFramework.Log4Net" >
      <app value="IFrameworkMediaRWebDemo" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="FATAL"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>
  <appender name="errorRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--日志文件名-->
    <file value="Logs/.error" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM/dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <!--<layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date %5level %logger - %message%newline%newline" />
    </layout>-->
    <layout type="IFramework.Log4Net.LogstashLayout, IFramework.Log4Net" >
      <app value="IFrameworkMediaRWebDemo" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="ERROR"/>
    </filter>
  </appender>
  <appender name="warnRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--日志文件名-->
    <file value="Logs/.warn" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM/dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <layout type="IFramework.Log4Net.LogstashLayout, IFramework.Log4Net" >
      <app value="IFrameworkMediaRWebDemo" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="WARN"/>
    </filter>
  </appender>
  <appender name="debugRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--日志文件名-->
    <file value="Logs/.debug" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM/dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <layout type="IFramework.Log4Net.LogstashLayout, IFramework.Log4Net" >
      <app value="IFrameworkMediaRWebDemo" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="DEBUG"/>
    </filter>
  </appender>
  <appender name="infoRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--日志文件名-->
    <file value="Logs/.info" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM/dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <layout type="IFramework.Log4Net.LogstashLayout, IFramework.Log4Net" >
      <app value="IFrameworkMediaRWebDemo" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
  </appender>
  <root>
    <!--all priority options： OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <!--取消这里注释记录所有debug log-->
    <appender-ref ref="warnAsyncAppender"/>
    <appender-ref ref="errorAsyncAppender"/>
    <appender-ref ref="fatalAsyncAppender"/>
    <appender-ref ref="infoAsyncAppender"/>
    <appender-ref ref="debugAsyncAppender"/>
  </root>
  <!--取消注释下面节, 指定name 的 debug log, 注意name是在logger.create时用的是className还是namespace.className 
      默认是从name的开头匹配， 即只要指定namespace即可将其下所有类的日志打印-->
  <!--<logger name="logger name">  
    <level value="DEBUG"/>
    <appender-ref ref="debugRollingFile"/>
  </logger>-->
  <!--<logger name="Microsoft.EntityFrameworkCore.Database.Command">
    <level value="INFO"/>
    <appender-ref ref="debugAsyncAppender"/>
  </logger>-->
</log4net>