<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="ailianlian" value="https://nuget.ailianlian.com/nuget/luluyou" /> -->
    <!-- <add key="alianlian.nuget.org" value="http://remote-nuget.ailianlian.com/nuget/nuget.org" /> -->
    <!-- <add key="alianlian.nuget.dev" value="http://remote-nuget.ailianlian.com/nuget/nuget.dev/" /> -->
    <!--<add key="aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="beta-feed" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />-->
	 <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnet-feb2017-patch/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>